body {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://i.pinimg.com/564x/21/57/9e/21579e3bd9032c75a7633492e78f9a08.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {

    background-color: aliceblue;
    height: 500px;
    width: 400px;
    border-radius: 10%;
    



}


